/* Apply a reset to remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Additional styling for navigation links */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

#logo {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  font-family: "Lora", serif;
  font-style: italic;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s ease;
}

 nav a:hover {
  color: #ffeb3b;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    background-color: lightblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'header header header'
    'sidebar main main'
    'sidebar main main'
    'footer footer footer'
    ;  
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f0f0f0;
   padding: 10px;
}

.main {
    grid-area: main;
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 10px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.footer {
    grid-area: footer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info {
  text-align: left;
}

.contact-info h4 {
  color: #ffeb3b;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.copyright {
  text-align: right;
}

.copyright p {
  font-size: 12px;
}