/* Apply a reset to remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set a minimum height for the content area to fill the viewport */
  background-image: url('https://media.istockphoto.com/id/1516239450/photo/love-portrait-and-family-with-dog-at-animal-shelter-for-adoption-at-kennel.webp?b=1&s=170667a&w=0&k=20&c=XU-0AYlpE7qJboU--vZ5wdxJzFNkfJUPtwtMuLNLUi8=');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 64, 0, 0.8);
  padding: 40px;
  font-family: 'Roboto', sans-serif;
}

/* Additional styling for navigation links */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure the nav bar appears on top of other elements */
  background-color: white;
}

nav #logo {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  font-family: 'Lora', serif;
  font-style: italic;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffeb3b;
}

/* Styling for the hero-image section */
.hero-image {
  text-align: center;
  position: relative;
}

.hero-image img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: auto; /* Maintain aspect ratio */
  max-height: 500px; /* Set a maximum height to control the image size */
  object-fit: cover; /* Ensure the image covers the container */
  border-bottom: 2px solid #fff; /* Optional border at the bottom */
}

/* Additional styling if you want to add overlay text or other elements on the hero image */
.hero-image .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Styling for the home-text section */
.home-text {
  background-color: rgba(211, 211, 211, 0.19);
  padding: 50px;
  text-align: center;
  flex: 1;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-text h1 {
  font-size: 36px;
  color: black;
  margin-bottom: 10px;
}

.home-text h2 {
  color: black;
}

.home-text p {
  font-size: 20px;
  color: black;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #ffeb3b;
  color: #000;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ffc107;
}

/* Styling for the main content to appear at the bottom */
main {
  margin-top: auto;
  margin-bottom: 0;
}
